<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieList</title>
</head>
<body>
    <h2>Welcome to my Movie List!</h2>
    <a href="/add-movie">Add movie</a>
    
    <h3>Movies:</h3>
    <% if (movies.length>0 ) { %>
        <% movies.forEach(movie => { %>
            <h3><%= movie.title%></h3>
            <p><%= movie.genre%></p>
            <p><%= movie.rating%></p>
            <a href="/edit-movie/<%= movie._id %>">Edit movie</a>
        <% }) %>
    <% } else { %>
        <p>There are no movies to display...</p>
    <% } %>
</body>
</html>